.footer{
    width: 100vi;
}


@media (max-width: 1060px){

    .projects-container{
        width: auto;
        margin-top: -70px;
        margin-left: -125px;
        justify-content: flex-start;
    }

    .interest-container{
        width: auto;
    }

  .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col {
  flex: 1 1 calc(50% - 20px);
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.col.full {
  flex: 1 1 100%;
}

.footer{
    position: relative;
    margin-top: auto;
    margin-bottom: -250px;
}

}