*{
    margin: 0;
    padding-left: 0;
}

.about-container{
    margin-top: 90px;
}

.about-container h2{
    font-size: 38px;
    font-weight: 550;
    line-height: 1.6;
    letter-spacing: 2px;
    margin-left: 5px;
}

.about-container h2::first-letter {
    font-size: 42px;
    color: #ff6b00;
    text-decoration: underline;
    text-decoration-color: #ff6b00;
    text-decoration-thickness: 5px; 
}

.p-container{
    width: 100%;
    max-width: 1500px; 
    margin-top: 10px;
    font-family: "Poppins", "sans-serif";
    border: 2px solid #ff6b00;
    border-radius: 15px;
    padding: 20px; 
    box-sizing: border-box; 
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(255, 107, 0, 0.2);
      margin-right: 10px;
}

.p-container::first-letter{
    font-size: 47px;         
  font-weight: 700;
  color: #ff6b00;         
  float: left;             
  margin-right: 8px;
  line-height: 1;
}
.p-container:hover{
      transform: scale(1.01) translateY(-0.1px); 
    box-shadow: 0 0 20px rgba(255, 107, 0, 0.7);
    transition: all 0.3s ease-in-out;
}
.interest-container .col {
   margin: 10px;
   box-shadow: 0 0 8px rgba(255, 107, 0, 0.2);
   transition: all 0.2s ease-in-out 0s;
}

.interest-container .col:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(213, 149, 103, 0.7);
    transition: all 0.3s ease-in-out;
}

.interest-container::first-letter{
    font-size: 40px;
    color: #ff6b00;
    text-decoration: underline;
    text-decoration-color: #ff6b00;
    text-decoration-thickness: 5px;
}
#none{
    opacity: 0;
}


@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.p-container , .about-container h2 , .interest-container{
    animation: fadeIn 0.5s ease-in-out backwards;
}

@media (max-width: 1060px){

    .about-container{
        margin-top: -50px;
        width: auto;
        margin-left: -100px;
    }

    .interest-container{
        width: auto;
    }

  .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col {
  flex: 1 1 calc(50% - 20px);
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

.col.full {
  flex: 1 1 100%;
}

}

/* 
@media (max-width: 1000px) {
  .slidebar_menu{
     width: 150px;
    }

.slidebar_menu .webName h2{
    position: absolute;
    margin-top: 5px;
    left: 10px;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 50px;
}

.slidebar_menu .btn_two{
    font-size: 16px;
    left: 125px;
    line-height: 50px;
    opacity: 0;
}


.slidebar_menu .menubar li{
    width: 90%;
    padding: 10px 8px;
    font-size: 16px;
   
}

.slidebar_menu .social_media a{
     padding: 0 2.5px 0 2.5px;
}

.slidebar_menu .social_media i{
    font-size: 18px;
    opacity: 0.3;
}

.about-container{
    margin-left: 170px;
    margin-right: 10px;
}

} */