.contact-section{
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 150px;
    flex-direction: row;
    justify-content: center;
    max-width: 1500px;
}


.footer{
    position: relative;
    margin-top: 80px;
}

@media (max-width: 1060px){
.contact-section{
        margin-left: -80px;
        margin-top: 20px;
        margin-right: 20px;
    }



   .contact-info{
    margin-left: 150px;
    margin-right: 50px;
    text-wrap: wrap;
    width: auto;
  }
  .contact-container{
    margin-left: 3px;
    margin-top: -50px;
    margin-right: 10px;
    width: auto;
    flex-wrap:wrap ;
  }

  .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col {
  flex: 1 1 calc(50% - 20px);
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

.col.full {
  fleflex: 1 1 100%;
}


.footer{
    position: relative;
    margin-bottom: -250px;
}

}